.results {
  padding: 20px;
  box-sizing: border-box;
}

.results ul {
  width: 100%;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

.results img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px #008000;
  transition: .25s;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.item:hover img {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px #008000;
}